name: Lint check

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: glzr-io/actions/setup-pnpm@main
        with:
          checkout: true
          node-version: 20

      - run: pnpm lint
